@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

body {
  background-color: #d9dce0;
}

nav {
  background-color: #048ba8;
  -webkit-box-shadow: 0 1px 0px 0px #000;
  -moz-box-shadow: 0 1px 0px 0px #000;
  box-shadow: 0 1px 0px 0px #000;
  height: 50px;
}

.logo {
  color: #99c24d;
  font-size: 30px;
  margin-left: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 10px;
}

.searchBox {
  margin-left: 10px;
}

.name {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.name:hover {
  color: #99c24d;
  background-color: #04728a;
  border-radius: 3px;
  text-decoration: none;
}

.home {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.home:hover {
  color: #99c24d;
  background-color: #04728a;
  border-radius: 3px;
  text-decoration: none;
}

.friends {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.friends:hover {
  color: #99c24d;
  background-color: #04728a;
  border-radius: 3px;
  text-decoration: none;
}

.create {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.create:hover {
  color: #99c24d;
  background-color: #04728a;
  border-radius: 3px;
  text-decoration: none;
}

.friend {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 90px;
  text-decoration: none;
  font-size: 20px;
}

.friend:hover {
  color: #7e9f40;
  text-decoration: none;
}

.message {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.message:hover {
  color: #7e9f40;
  text-decoration: none;
}

.notify {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.notify:hover {
  color: #7e9f40;
  text-decoration: none;
}

.help {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #99c24d;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

.help:hover {
  color: #7e9f40;
  text-decoration: none;
}
